<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">Adopt <br><span style="color: #980200;">Strays</span></h1>
                            <p class="banner_text">
                                Planning to adopt a pet?
                                <br>
                                Find your new best friend
                                <br>
                                Browse pets from our network of shelters and rescues.
                                <br>
                                Shelter are full! Help pets get out
                                <br>
                                Thank you for using Strays!
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="banner_img"><img
                                    src="https://plus.unsplash.com/premium_photo-1677545183884-421157b2da02?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGV0fGVufDB8fDB8fHww">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- banner section end -->